<!-- temporary HTML --><html><head><link rel="import" href="../../../i18n-element.html"></head><body><dom-module id="my-app"><template localizable-text="embedded">
      <!-- Header -->
      <app-header condenses="" reveals="" effects="waterfall">
        <app-toolbar class="toolbar-top">
          <button class="menu-btn" title="{{model.app-header:app-toolbar:button.title}}" @click="{{parts.0}}">{{parts.1}}</button>
          <div main-title="">{{parts.2}}</div>
        </app-toolbar>

        <!-- This gets hidden on a small screen-->
        <nav class="toolbar-list">
          <a ?selected="{{parts.3}}" href="/view1">{{text.app-header:nav_1:a}}</a>
          <a ?selected="{{parts.4}}" href="/view2">{{text.app-header:nav_1:a_1}}</a>
          <a ?selected="{{parts.5}}" href="/view3">{{text.app-header:nav_1:a_2}}</a>
        </nav>
      </app-header>

      <!-- Drawer content -->
      <app-drawer .opened="{{parts.6}}" @opened-changed="{{parts.7}}">
        <nav class="drawer-list">
          <a ?selected="{{parts.8}}" href="/view1">{{text.app-drawer_1:nav:a}}</a>
          <a ?selected="{{parts.9}}" href="/view2">{{text.app-drawer_1:nav:a_1}}</a>
          <a ?selected="{{parts.10}}" href="/view3">{{text.app-drawer_1:nav:a_2}}</a>
        </nav>
      </app-drawer>

      <!-- Main content -->
      <main role="main" class="main-content">
        <my-view1 class="page" ?active="{{parts.11}}"></my-view1>
        <my-view2 class="page" ?active="{{parts.12}}"></my-view2>
        <my-view3 class="page" ?active="{{parts.13}}"></my-view3>
        <my-view404 class="page" ?active="{{parts.14}}"></my-view404>
      </main>

      <footer>
        <p>{{text.footer_3:p}}</p>
      </footer>

      <snack-bar ?active="{{parts.15}}"><i18n-format lang="{{effectiveLang}}"><span>{{text.snack-bar_4.0}}</span><span slot="1">{{parts.16}}</span></i18n-format></snack-bar>
      <template><span id="appTitle">{{text.appTitle}}</span></template>
    <template id="localizable-text">
<json-data>
{
  "meta": {},
  "model": {
    "app-header:app-toolbar:button": {
      "title": "Menu"
    }
  },
  "app-header:nav_1:a": "View One",
  "app-header:nav_1:a_1": "View Two",
  "app-header:nav_1:a_2": "View Three",
  "app-drawer_1:nav:a": "View One",
  "app-drawer_1:nav:a_1": "View Two",
  "app-drawer_1:nav:a_2": "View Three",
  "footer_3:p": "Made with ♥ by the Polymer team.",
  "snack-bar_4": [
    " You are now {1}. ",
    "{{parts.16}}"
  ],
  "appTitle": "my app"
}
</json-data>
</template>
</template></dom-module><!-- end of dom-module id="my-app" -->
</body></html>