<!-- temporary HTML --><html><head><link rel="import" href="../../../i18n-element.html"></head><body><dom-module id="shop-products"><template localizable-text="embedded">
      {{parts.0}}
      <template>
        <span id="sold_out">{{text.sold_out}}</span>
        <span id="add_to_cart">{{text.add_to_cart}}</span>
      </template>
    <template id="localizable-text">
<json-data>
{
  "meta": {},
  "model": {},
  "sold_out": "Sold out",
  "add_to_cart": "Add to cart"
}
</json-data>
</template>
</template></dom-module><!-- end of dom-module id="shop-products" -->
</body></html>