<!-- temporary HTML --><html><head><link rel="import" href="../../../i18n-element.html"></head><body><dom-module id="shop-item"><template localizable-text="embedded"><i18n-format lang="{{effectiveLang}}"><span>{{text.text.0}}</span><span slot="1">{{parts.0}}</span></i18n-format><span ?hidden="{{parts.1}}"><i18n-format lang="{{effectiveLang}}"><span>{{text.span_1.0}}</span><span slot="1">{{parts.2}}</span></i18n-format></span><i18n-format lang="{{effectiveLang}}"><span>{{text.text_2.0}}</span><span slot="1">{{parts.3}}</span></i18n-format><template id="localizable-text">
<json-data>
{
  "meta": {},
  "model": {},
  "text": [
    " {1}: ",
    "{{parts.0}}"
  ],
  "span_1": [
    "{1} * ",
    "{{parts.2}}"
  ],
  "text_2": [
    " ${1} ",
    "{{parts.3}}"
  ]
}
</json-data>
</template>
</template></dom-module><!-- end of dom-module id="shop-item" -->
</body></html>